**/target
auth_data
*.sqlite*
debug*
node_modules
docs/.vitepress/cache
docs/.vitepress/dist

# build artifacts
*.tar.gz
bili-sync-rs*

# local test files
.tmp/
.codex
Dockerfile.devtest
Dockerfile.fulltest
.dockerignore
